@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Video.Models.Customer
@Html.ActionLink("Edit Customer", "Edit", new { id = Model.Id })
<div>
    <div>
        <div class="panel-heading">
            <h3>@Model.Name</h3>
        </div>
        <div>
            <ul>
                <li>Subscribed to Newsletter: @Model.IsSubscribedToNewsletter</li>
                @if (Model.Birthdate.HasValue)
                {<li>Birthday: @Model.Birthdate.Value.ToShortDateString()</li>}
            </ul>
        </div>
    </div>
</div>