@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Video.Models.Customer>
<h1>List of happy customers</h1>

@Html.ActionLink("New Customer", "New")

<div>
    <div>
        <table>
            <tr>
                <td><b>Customers</b></td>
                @foreach(var i in Model)
                {
                    <td>@Html.ActionLink(i.Name, "Details", new {id = i.Id })</td>
                }
            </tr>
        </table>
    </div>
</div>