@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Blockbuster Admin!</h1>
    <p>Sorry we had to randomly disappear, we might not have movies and employees anymore but we have data..</p>
</div>
